<div class="row-fluid">
  <div class="span2 offset5">
    <div id="frontpage">
      <h1><%= settings.app_name %></h1>
      <hr class="invisible">
      <a href="/auth/twitter" id="login-link">Sign in with Twitter</a>
    </div>
  </div>
</div>